{% extends "layouts/app.twig" %}

{% block title %}{{ site.name }}{% endblock %}

{% block header %}
  {% include 'partials/header.twig' %}
{% endblock %}

{% block content %}
  <div class="container">
    <p>{{ site.description }}</p>
  </div>
{% endblock %}

{% block footer %}
  {% include 'partials/footer.twig' %}
{% endblock %}
