{% if featured %}
  <section>
    <h2 class="text-2xl font-bold mb-6 text-primary">Destacados</h2>
    
    <div class="grid grid-cols-1 gap-6">
      {% for post in featured %}
        <a href="{{ post.link }}" class="block rounded-lg shadow-md overflow-hidden border border-border hover:shadow-lg transition-shadow duration-200">
          <div class="bg-surface">
            {% if post.thumbnail %}
              <img 
                src="{{ post.thumbnail.src('medium') }}" 
                alt="{{ post.thumbnail.alt }}" 
                class="w-full h-48 object-cover"
              >
            {% endif %}
            
            <div class="p-4 pb-1">
              <h3 class="font-bold text-lg mb-2 mt-0 text-text hover:text-primary-h">
                {{ post.title }}
              </h3>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>
{% endif %}

