web/app/themes/maneras-theme-sage
# Application
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache
web/app/debug.log
web/app/languages
web/app/uploads
# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

*.sql
*.gz
*.zip
*.tar

.vscode
.docker
.idea

/import-*

deploy.sh
.htexclude

entrevistas.json
reportajes.json

staging_deploy.sh
deploy_staging.sh
deploy.sh

/web/app/themes/maneras-theme/assets/dist
