web/app/themes/maneras-theme-sage
# Application
web/app/themes/twentytwentyfive/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache
web/app/debug.log
web/app/languages
web/app/uploads
# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

*.sql
*.gz
*.zip
*.tar

.vscode
.docker
.idea

import-news.php

deploy.sh
.htexclude

entrevistas.json
reportajes.json

staging_deploy.sh
deploy_staging.sh
deploy.sh

/web/app/themes/maneras-theme/assets/dist

# Specific vendor directories in new wp-content structure
wp-content/themes/**/vendor
wp-content/plugins/**/vendor
wp-content/mu-plugins/**/vendor

# Specific vendor directories in old web/app structure (to help with move)
web/app/themes/**/vendor
web/app/plugins/**/vendor
web/app/mu-plugins/**/vendor

# For temporary renaming strategy
**/_vendor_ignored

node_modules
