{% extends "base/layout.twig" %}

{% block content %}
  {% for post in posts %}
    <article>
      <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
      <div class="entry-content">
        {{ post.excerpt }}
      </div>
    </article>
  {% endfor %}
{% endblock %}
