<div class="site-header">
  <div class="main-container">
    <div class="site-header__brand">
      <div class="site-header__left">
        {% include 'partials/hamb-button.twig' %}
      </div>
      <div class="site-header__center">
        {% include 'partials/logo.twig' with { size: 'md' } %}
      </div>
      <div class="site-header__right" aria-hidden="true"></div>
    </div>

    {% include 'partials/navigation.twig' %}

    {% include 'partials/breadcrumbs.twig' %}
  </div>
</div>
