<div class="site-header">
  <div class="site-header__content flex items-center">
    {% include 'partials/hamb-button.twig' %}
    {% include 'partials/logo.twig' %}
    <div class="flex-1 flex justify-end">
      {# Placeholder future right-aligned elements #}
    </div>
  </div>

  {% include 'partials/navigation.twig' %}

  {% include 'partials/breadcrumbs.twig' %}
</div>
