/* resources/css/components/_breadcrumbs.css */
@layer components {
    .breadcrumbs {
      font-size: 0.85rem;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      max-width: var(--main-container-width);
      ol {
        display: flex !important;
        
      }
    }

    .site-breadcrumbs a:hover, .breadcrumb-item a:hover {
      color: var(--color-primary-h, #3B82F6);
    }

    .site-breadcrumbs span, .breadcrumb-item span {
      user-select: none;
      color: var(--text-subtle, #6B7280);
    }
}
