@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-medium {
    @apply inline-block bg-amber-600 text-white text-xs rounded-full px-3 py-1 font-semibold hover:bg-amber-700 hover:text-white;
  }

  .meta-data {
    @apply flex flex-col lg:flex-row justify-start text-gray-400 text-sm mt-1
  }

  .card {
    @apply w-full bg-gray-800 rounded-lg shadow-md overflow-hidden mb-4 p-4;
    box-sizing: border-box;
    img {
      width: 100%;
      object-fit: fill ! important;
    }
  }
}

body {
  @apply bg-bg;
  @apply text-text;
  @apply font-sans;
  @apply p-5;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

a {
  @apply text-links;
  &:hover {
    @apply text-hs;
  }
}

.fa {
  margin-right: 7px;
}
h1, h2, h3, h4, h5, h6,
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
  @apply text-hs;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
}

.custom-logo-link>img {
  max-width: 480px;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}
.main-header .nav {
  flex-grow: 1;
  border: 1px solid lime;
  width: 100%;
}

.main-header ul.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
