/* resources/css/base/_variables.css */

/* base font-size */
html {
    font-size: 18px;
}

.content-container {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

:root {
    --color-bg: #FFFFFF;
    --color-surface: #E9ECEF;
    --color-primary: #E56600;
    --color-primary-h: #FF781A;
    --color-text: #212529;
    --color-border: #DEE2E6;
    --color-text-subtle: #cc6600;

    --site-width: 1600px;
    --content-width: 1000px;
}

.dark {
    --color-bg: #0D0D0D;
    --color-surface: #1E2428;
    --color-primary: #E56600;
    --color-primary-h: #FF781A;
    --color-text: #CCCCCC;
    --color-text-subtle: #cc6600;
    --color-border: #2B2B2B;
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --color-bg: #0D0D0D;
        --color-surface: #1E2428;
        --color-primary: #E56600;
        --color-primary-h: #FF781A;
        --color-text: #CCCCCC;
        --color-text-subtle: #cc6600;
        --color-border: #2B2B2B;
    }
}