@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Variables personalizadas */
:root {
  --color-primary: #525ddc;
  --color-accent: #d53369;
  --color-bg: #ffffff;
  --color-text: #333333;
}

@import 'custom-components.css';
