/* resources/css/base/_variables.css */
@layer base {
    :root {
        --color-bg: #0D0D0D;
        --color-surface: #1E2428;
        --color-primary: #E56600;
        --color-primary-h: #FF781A;
        --color-text: #CCCCCC;
        --color-text-subtle: #8B8B8B;
        --color-border: #2B2B2B;
    }
}
