{% if breadcrumbs %}
	<nav aria-label="breadcrumb" class="breadcrumbs mt-3">
		<ol>
			{% for item in breadcrumbs %}
				<li class="breadcrumb-item{% if loop.last %} active font-semibold text-gray-800 dark:text-gray-200{% endif %}" {% if loop.last %} aria-current="page" {% endif %}>
					{% if item.url and not loop.last %}
						<a href="{{ item.url }}" class="hover:text-primary dark:hover:text-secondary">{{ item.name }}</a>
					{% else %}
						{{ item.name }}
					{% endif %}
					{% if not loop.last %}
						<span class="mx-2">/</span>
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	</nav>
{% endif %}
