<!-- Left section for mobile menu -->
<div class="flex-1 flex justify-start">
  <div class="lg:hidden">
    <button class="mobile-menu-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>
</div>
