<!-- Left section for mobile menu -->
<button class="mobile-menu-toggle" aria-controls="primary-mobile-menu" aria-expanded="false" aria-label="Abrir menú">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.75 6h16.5M3.75 12h16.5M3.75 18h16.5" />
  </svg>
</button>
