/* Layout components */
@layer base {
    .main-container {
        max-width: var(--main-container-width);
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .reading-container {
        max-width: var(--reading-content-width);
        margin-left: auto;
        margin-right: auto;
    }

    .featured-image-container {
        max-width: var(--featured-image-container-width);
        margin-left: auto;
        margin-right: auto;
    }

    .heading-container {
        max-width: var(--heading-width);
        margin-left: auto;
        margin-right: auto;
    }
    .article-width {
        max-width: var(--heading-width);
        
    }

    @media screen and (min-width: 1024px) {
        .main-container, .reading-container, .featured-image-container, .heading-container, .article-width {
            padding-left: 0;
            padding-right: 0;
        }
        
    }
}