/* resources/css/base/_variables.css */
@layer base {

    /* base font-size */
    html {
        font-size: 18px;
    }

    /* texto global */
    body {
        @apply text-base leading-7 text-text font-body;
    }
    
    .content-container {
        @apply max-w-content-width mx-auto px-4;        
    }

    :root {
        --color-bg: #FFFFFF;
        --color-surface: #E9ECEF;
        --color-primary: #E56600;
        --color-primary-h: #FF781A;
        --color-text: #212529;
        --color-text-subtle: #6C757D;
        --color-border: #DEE2E6;

        --site-width: 1600px;
        --content-width: 1000px;
    }

    .dark {
        --color-bg: #0D0D0D;
        --color-surface: #1E2428;
        --color-primary: #E56600;
        --color-primary-h: #FF781A;
        --color-text: #CCCCCC;
        --color-text-subtle: #8B8B8B;
        --color-border: #2B2B2B;
    }

    @media (prefers-color-scheme: dark) {
        :root:not(.light) {
            --color-bg: #0D0D0D;
            --color-surface: #1E2428;
            --color-primary: #E56600;
            --color-primary-h: #FF781A;
            --color-text: #CCCCCC;
            --color-text-subtle: #8B8B8B;
            --color-border: #2B2B2B;
        }
    }
}