/* resources/css/base/_variables.css */

/* base font-size */
html {
    font-size: 22px;
}

:root {
    --color-bg: #FFFFFF;
    --color-surface: #E9ECEF;
    --color-primary: #E56600;
    --color-primary-h: #FF781A;
    --color-text: #212529;
    --color-border: #DEE2E6;
    --color-text-subtle: #cc6600;
    --site-width: 100%;
    --main-container-width: 1200px;
    --heading-width: 980px;
    --featured-image-container-width: 1200px;
    --reading-content-width: 608px;
}

.dark {
    --color-bg: #0D0D0D;
    --color-surface: #1E2428;
    --color-primary: #E56600;
    --color-primary-h: #FF781A;
    --color-text: #CCCCCC;
    --color-text-subtle: #cc6600;
    --color-border: #2B2B2B;
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --color-bg: #0D0D0D;
        --color-surface: #1E2428;
        --color-primary: #E56600;
        --color-primary-h: #FF781A;
        --color-text: #CCCCCC;
        --color-text-subtle: #cc6600;
        --color-border: #2B2B2B;
    }
}
