/* resources/css/base/_variables.css */

/* base font-size */
html {
    font-size: 18px;
}

:root {
    --color-bg: #FFFFFF;
    --color-surface: #E9ECEF;
    --color-primary: #E56600;
    --color-primary-h: #FF781A;
    --color-text: #212529;
    --color-border: #DEE2E6;
    --color-text-subtle: #cc6600;
    --site-width: 100%;
    --main-container-width: 95em; /* 1520px */
    --heading-width: 50em; /* 800px */
    --featured-image-container-width: 75em; /* 1200px */
    --reading-content-width: 38em; /* 608px */
}

.dark {
    --color-bg: #0D0D0D;
    --color-surface: #1E2428;
    --color-primary: #E56600;
    --color-primary-h: #FF781A;
    --color-text: #CCCCCC;
    --color-text-subtle: #cc6600;
    --color-border: #2B2B2B;
}

@media (prefers-color-scheme: dark) {
    :root:not(.light) {
        --color-bg: #0D0D0D;
        --color-surface: #1E2428;
        --color-primary: #E56600;
        --color-primary-h: #FF781A;
        --color-text: #CCCCCC;
        --color-text-subtle: #cc6600;
        --color-border: #2B2B2B;
    }
}
